*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #1E90FF;
    --secondary-color: #b698e7;
    --accent-color: #4ad0f9;
    --hover-color: #1c86ee;
    --padding-inline: 20px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--padding-inline);
    background-color: #f8f8f8;
}
.logo{
    height: 80px;
    width: 280px;
}
.nav-links{
    display: flex;
    gap: 60px;
    font-size: 28px;
    color: var(--primary-text-color);
    flex-direction: row;
    margin: 20px 0;
    cursor: pointer;
    list-style: none;

}
.search-container{
    display: flex;
    align-items: center;
    gap: 0px;
    
}
.search-input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}
.search-button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--primary-text-color);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.na{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--padding-inline);
    background-color: #f8f8f8;
    color: #25a0f3;
    text-decoration: none;
}
main{
    padding: 20px var(--padding-inline);
    margin-top: 80px;
}
.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    padding: 20px;
}

/* Card */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Image */
.news-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Content */
.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Title */
.news-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}

/* Source */
.news-source {
    font-size: 12px;
    color: #007bff;
}

/* Description */
.news-description {
    font-size: 14px;
    color: #444;
}
.na.active{
    color: crimson;
}